progress,sub,sup{vertical-align:baseline;}button,hr,input{overflow:visible;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;} figcaption, menu,article,aside,details,figure,footer,header,main,nav,section,summary{display:block;}audio,canvas,progress,video{display:inline-block;}audio:not([controls]){display:none;height:0;} [hidden],template{display:none;}a{background-color:transparent;-webkit-text-decoration-skip:objects;}a:active,a:hover{outline-width:0;}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted;}b,strong{font-weight:bolder;}dfn{font-style:italic;}h1{font-size:2em;margin:.67em 0;}mark{background-color:#ff0;color:#000;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;}sub{bottom:-.25em;}sup{top:-.5em;}img{border-style:none;}svg:not(:root){overflow:hidden;}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em;}figure{margin:1em 40px;}hr{box-sizing:content-box;height:0;}button,input,select,textarea{font:inherit;margin:0;}optgroup{font-weight:700;}button,input{}button,select{text-transform:none;}[type=submit], [type=reset],button,html [type=button]{-webkit-appearance:button;}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0;}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal;}textarea{overflow:auto;}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0;}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto;}[type=search]{-webkit-appearance:textfield;outline-offset:-2px;}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none;}::-webkit-input-placeholder{color:inherit;opacity:.54;}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}

.clearfix:after{visibility:hidden;display:block;content:" ";clear:both;height:0;}

html{box-sizing:border-box;}*,*:before,*:after{box-sizing:inherit;}



img, video{
	max-width: 100%;
	}

/*  ---------------------------------------------------
                     Global Stuff
-----------------------------------------------------  */




.site-wrapper{
	position: relative;
}

body{
	background: #1d282d;
	color:#15ad9e;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	line-height: 1.8;
}
.wrapper{
	max-width: 1600px;
	margin: 0 auto;
}

h1{
	font-family: 'Lato', sans-serif;
	font-size: 5em;
}

a{
	text-decoration: none;
	color: inherit;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.text-link:hover{
	color: #faa541;
}

.button{
	border: 2px solid #15ad9e;
	font-size: 1.5rem;
	padding: 1rem;
}
.button:hover{
	border-color:#faa541;
	color: #faa541;
}



/* .content-wrapper{
	width: 80%;
	margin: 0 auto;
} */

section{
/* 	padding: 2rem 0; */
}


/* -----   Message ----------*/
.message{
	padding: 4rem 30% 2rem 30%;
	text-align: center;
}

.title-wrap{
	position: relative;
}
.title span{
	background: #ffffff;
    z-index: 10;
    position: relative;
    padding: 0 2rem;
}
.title::before {
  content: " ";
  position: absolute;
  border-bottom: 1px solid #dba64d;
    top: 23px;
    left: 0px;
    width: 285px;
}

.title::after {
  content: " ";
  position: absolute;
  border-bottom: 1px solid #dba64d;
    top: 23px;
    right: 0px;
    width: 285px;
}

/* -------- FOOTER ------  */

.footer-wrapper{
	position: relative;
	padding: 0 0 4rem 0;
}

.footer{
	text-align: center;
	position: relative;
	height: 10px;
	width: 10px;
	margin: 0 auto;
	padding: 2rem 0;
}


.footer::before {
  content: " ";
  position: absolute;
  border-bottom: 1px solid #dba64d;
    top: 23px;
    left: -125px;
    width: 250px;
}

.footer-wrapper{
	text-align: center;
}

.footer-text-big{
	font-size: 1.5rem;
}

/*  ---------------------------------------------------
                     Header
-----------------------------------------------------  */

.header-content{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	min-height: 145px;
	transition: 0.35s all ease;
}

.scrolled{
	min-height: 80px;
	background: #1d282d;
}




:target:before {
content:"";
display:block;
height:5rem; /* fixed header height*/
margin:-5rem 0 0; /* negative fixed header height */
}


.header{
	background: rgba(33, 33, 33, 0.2) ;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 50;
	transition: 0.5s all ease;
}

.header-filled{
	background-color: rgb(33, 33, 33);
}

.header-background-block{
	width: 100%;
	height: 145px;
	transition: 0.35s all ease;
}

.header:hover{
	background: rgba(33, 33, 33, 0.7);
}



.logo{
	width: 30%;
	display: flex;
	justify-content: center;
}

.menu{
	width: 50%;
}

.menu ul{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	list-style-type: none;
}

.menu li{
	/* margin: 0 3rem; */
}

.menu ul a{
	text-decoration: none;
	color:#15ad9e;
}

.menu ul a:hover{
	color: white;
}




/*  ---------------------------------------------------
                     Welcome
-----------------------------------------------------  */

.welcome{
	background: rgb(33, 33, 33)  url("../images/cityscape-dark.jpg") repeat top center;
	background-size: cover;
	/* background: linear-gradient(to bottom,#15ad9e, #156e65); */
	min-height: 100vh;
	color: white;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.welcome-content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.welcome-tagline{
	margin-bottom: 4rem;
}
.welcome-message{
	margin: 5rem auto 0rem auto;
}
.get-started{
	color: #15ad9e;
	background-color: rgba(0,0,0,0.3);
}

/* switching images start */
.get-started-arrow-holder{
	margin: 2rem;
	overflow: hidden;
}
.get-started-arrow-holder div{
	max-height: 30px;		
}
.get-started-arrow{
	z-index: 30;
	position: relative;
  	right:0px;
  	top: 0px;
}

.get-started-arrow:hover{
	z-index: 30;
	position: relative;
  	right:0px;
  	top: -34px;
}/*./swichting images*/


/* -===========================================VIDEO */

/* .homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
} */

/* -===========================================VIDEO */




/*  ---------------------------------------------------
                     About Us
-----------------------------------------------------  */



.about-us{
	background: white;
	color: black;
	
}

.about-us-message{
	padding-bottom: 0em;
}

.proceedure-wrapper{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	list-style-type: none;
	margin: 0 auto;
	width: 80%;
}


.proceedure{
	margin: 0 7% 5rem 7%;
	text-align: center;
}

.proceedure img{
	margin-top: 38px;
}

.proceedure:hover{
	background: white url("../images/services-hover.png") no-repeat center top;
}

.proceedure:hover .text-link{
		color: #dba64d;
}

/*  ---------------------------------------------------
                     Services
-----------------------------------------------------  */
.services{
}
.services-icon-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 7rem 0 5rem 0;
	flex-wrap: wrap;
}

.services-message{
	margin: 5rem 0;
}

.services-title span{
	background: #1d282d;
/* 	background: #FFF; */
}

/* switching images start */

/* .text-hover:hover{
	color: #dba64d;
} */
/* .text-hover{
	transition: color 0.7s;
} */

.icon{
	margin: 0 1rem;
}

.icon div{
	max-height: 66px;
	overflow: hidden;	
}

.icon img{
	z-index: 30;
	position: relative;
	overflow: hidden;
  	right:0px;
  	top: -106px;
}

.icon:hover{
	color: #dba64d;
	transition: color 0.5s;
}

.icon:hover img{
	z-index: 30;
	position: relative;
  	top: 3px;
	transition: top 0.5s;
}

/*  ---------------------------------------------------
                     Our work
-----------------------------------------------------  */

.our-work{
	background: white;
}


/* -------------------------------------- */
.work-buttons{
	width: 50%;
	margin: 0 auto;
}

.work-buttons ul{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	list-style-type: none;
}

.work-buttons li{
	/* margin: 0 3rem; */
	 text-align: center;
}

.work-buttons ul a{
	text-decoration: none;
	color:#15ad9e;
}

.work-buttons ul li:hover a{
	color: #faa541;
}


.our-work-button{
	border: 1px solid #15ad9e;
	font-size: 1rem;
	padding: 0.2rem 2rem;
	margin: 0 0 3rem 0;
}
.our-work-button:hover{
	border-color:#faa541;
	color: black;
}

/* .folio ul{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-content: space-between;
	list-style-type: none;

} */
/* 
.folio ul li{
	display: flex;
	background: #faa541;
	height: 200px;
	width: 200px;
	justify-content: center;

	margin: 10px;
} */


/* Folio ----------------------------------- */

.folio-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	display: none;
}

.folio-list li {
	margin-bottom: 1.2rem;
}
.folio-list li figure {
	position: relative;
}
.folio-list img {
	display: block; 
	width: 100%; 
}
.folio-list li figcaption {
	background: rgba(0,0,0,.8);
	padding: 25% 5%;
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.5s; 
}
.folio-list li:hover figcaption {
	opacity: 1; 
}
.folio-list li figcaption h4 {
	color: #FFF;
	font-size: 1rem;
} 



/*  ---------------------------------------------------
                     Our Team
-----------------------------------------------------  */

.our-team{
	background: #15ad9e;
	color: white;
}

.our-team-title span{
	background: #15ad9e;
}

/* new code*/

.team-wrapper{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	list-style-type: none;
	margin: 0 auto;
	width: 80%;
	align-items: baseline;
	padding-bottom: 8rem;
}

.team-wrapper h2{
	color: #1d282d;
}


.team-member{
	margin: 0 7% 2rem 0;
	text-align: center;
	justify-content: center;
    align-items: center;
    align-content: space-between;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.team-member p{
	margin: 0 0 2rem 0;
}

.team-member img{
	margin-top: 38px;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}



.team-member:hover{
	background: #15ad9e url("../images/services-hover.png") no-repeat center top;
}

.team-member:hover .text-link{
		color: #dba64d;
}

.join-team .apply{
	width: 220px;
	justify-content: space-between;
}


footer {
	text-align: center;
	padding: 0 0;
}
.social-list {
	display: flex;
	justify-content: space-around;
	font-size: 1rem;
}
.social-item {
	display: flex;
	flex: 1 auto;
	align-items: center;
}
.social-item i {
	/* color: rgba(236, 58, 128, 0); */
	color: black;
	/* border: 2px solid black; */
	height: 25px;
	width: 25px;
	padding-top: 5px;
	box-shadow: -0px -0px 0px 1px black;
	transition: all 0.2s;
	transform: scale(1.2);
	margin: 0 15px;
	text-align: center;
}
.social-item a:hover i {
	/* color: rgba(236, 58, 128, 1.0); */
	color: white;
	transform: scale(1.2);
	text-shadow: none;
	box-shadow: -0px -0px 0px 1px white;
/* 	border: 1px solid white; */
}


.apply{
	border: 1px solid black;
	padding: 0rem 2rem;
	color: black;
}
.apply:hover {
	border-color: white;
	color: white;

}



/*  ---------------------------------------------------
                     Our Clients
-----------------------------------------------------  */
.clients-section{
	background: #1d282d;
}

.clients-title span{
	background: #1d282d;
}

.clients-list{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.clients-list img{
	margin: 2rem 2rem 2rem 2rem;
	transition: all 0.2s;
}

.clients-list img:hover{
	transform: scale(1.2);
}

.our-clients-footer{
	margin-top: 2rem;
}



/*  ---------------------------------------------------
                     Like what you see
-----------------------------------------------------  */


.like-section{
	background: linear-gradient(to bottom,#faa541, #f7ca4f);
	color: #1d282d;
	display: flex;
	justify-content: center;
	padding-bottom: 5rem;
}

.like-section h2{
	color: white;
	font-size: 2em;
}

.like-message{
	display: flex;
	justify-content: center;
	padding: 3rem 30% 1rem 30%;
}

.like-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}

.like-wrapper p{
 	text-align: center;
}

.buy-theme{
	margin: 2rem 0 2rem 0;
	color: #faa541;
	background-color: #1d282d;
	border: none;
	transition: 0.7s ease;
}

.buy-theme:hover{
	background-color: white;
	color: #1d282d;
}


/*  ---------------------------------------------------
                     Contact Us
-----------------------------------------------------  */

.contact-us{
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.title-wrap{
	flex-basis: 100%;
}

.contact-types-wrapper{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
	padding: 3rem 0 8rem 0;
}

.map{
	width: 100%; 
	height: 450px; 
}

.map-ff{
	display: none;
}

.hide-map-button{
	background-color: #FFF;
	margin: -2rem 0 2rem 0;
}

.block{
	position: relative;
}

.block h3::after {
    content: " ";
    position: absolute;
    border-bottom: 1px solid #dba64d;
    top: 54px;
    left: 0px;
    width: 100%;
}

.social-media-wrapper{
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}

.block-social .social-list{
	margin-top: 1.2rem;
}


/*  ---------------------------------------------------
                     Form
-----------------------------------------------------  */

.write-section{
	color: #FFF;
	text-align: center;
	padding:  3rem 0;
}

.write-section{
	background: #15ad9e;
}

.form-first-row{
	margin: 0 auto;
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

input{
	flex-grow: 1;
	margin: 0 2rem 2rem 0;
}
.form-first-row input:last-child {
    margin-right: 0;
}

textarea{
	width: 80%;
}

/*  ---------------------------------------------------
                     Footer section
-----------------------------------------------------  */

.site-footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-between;
}


.copyright{
	color:rgb(160,160,160);
	padding: 0 2rem;
	display: inline-block;
	text-align: center;
}

.site-footer .social-media-wrapper{
	padding: 0 2rem;
}

.site-footer .social-list{
}

/*  ---------------------------------------------------
                     MEDIA QUERY 940px
-----------------------------------------------------  */



/* Portrait tablet and small desktops */
@media (max-width: 940px) {

	.message {
    padding: 4rem 10% 2rem 10%;
    text-align: center;
	}

	/*  ---------------   Form   --------------------------  */

	.work-buttons ul {
	    flex-direction: column;
		justify-content: center;

	}

	/*  ---------------   Contact Us  --------------------------  */
	.contact-types-wrapper{
		flex-direction: column;
		text-align: center;
	}


	.block h3::after {
	    width: 40%;
    margin: 0 auto;
    left: 30%;
    top: 34%;
	}

	.block-social h3::after {
	width: 40%;
    margin: 0 auto;
    left: 30%;
    top: 50%;
	}

	.block {
	    margin: 1rem 0;
	}

/*  ---------------------------------------------------
                     MEDIA QUERY 768px
-----------------------------------------------------  */

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

	body{
		font-size: 1.5rem;
	}

	h1 {
    font-size: 4em;
	}

	.header-content{

		flex-direction: column;
		justify-content: center;
	}
	.logo{
		margin: 1rem;
	}

	.menu{
		width: 100%;
	}
	
	.site-footer{
		font-size: 1rem;
	}

	/*  ---------------   homepage  ---------------------  */
	.icon{
		padding: 2rem 4rem;
	}

	/*  ---------------   Contact us  ---------------------  */
	.form-first-row input{
    margin-right: 0;
	}

	.form-first-row {
		flex-direction: column;
	}


}


/*  ---------------------------------------------------
                     MEDIA QUERY 480px
-----------------------------------------------------  */


/* Landscape phones and down */
@media (max-width: 480px) {
	
	h1 {
    font-size: 3em;
	}

	.site-footer{
	flex-direction: column-reverse;
	}

	.site-footer .social-media-wrapper {
    padding: 2rem 2rem 1rem 2rem;
	}
	
	.logo{
		display: none;
	}







	/*  ---------------   homepage  ---------------------  */

	.services-message {
    margin: 5rem 0 0 0;
	}

	

}